<a href="https://colab.research.google.com/github/Taram1980/finance_ML/blob/master/pars_Morning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Library

In [1]:
import pandas as pd
import numpy as np
import time
import os

# from alpha_vantage.timeseries import TimeSeries

from tqdm import tqdm

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 200)

# My_dir

In [2]:
# from google.colab import drive
# drive.mount('/content/drive')
my_dir = u"F:/Мой диск/fund_data"

# Selenium

In [ ]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.firefox.options import Options
from selenium.webdriver.support.ui import Select
from selenium.common.exceptions import TimeoutException

In [ ]:
list2000 = pd.read_csv(my_dir + '/S&P 500 Historical Components & Changes(03-01-2021).csv', index_col='date')
list2000['tickers'] = list2000['tickers'].apply(lambda x: sorted(x.split(',')))
# list2000 = list2000[list2000.index < '2010-01-01'].tail(1)
# # last_row = df2.tail(1)
# list2000['tickers']

In [ ]:
# options = Options()
# options.add_argument("--headless")
# options.set_headless(headless=False)
Firefox = webdriver.Firefox(executable_path = "C:\Program Files\Mozilla Firefox\geckodriver.exe", #options=opts,
                            firefox_profile = 'C:/Users/afecn/AppData/Roaming/Mozilla/Firefox/Profiles/jz17nv51.default-release')

Firefox.get('http://financials.morningstar.com/ratios/r.html?t=AAPL&region=usa&culture=en-US')  # НАСТРОИТЬ ПАРАМЕТРЫ ЗАГРУЗКИ

In [ ]:
list_all = []
for i in range(1, len(list2000)):
  list_all = list_all + list2000['tickers'][i]
list_all = list(set(list_all))
display(pd.Series(list_all).shape)

(1104,)

In [ ]:
# error
# absenсe
error_count
len(list_all)

1104

In [ ]:
%%time

error_count = 0
error = []
absenсe = []
namber = len(os.listdir('E:/Mozila/5min_fill/'))
for name in list_all[:]:#list2000['tickers'][0][:]:#list(tickerandsector['ticker'])[:]:
  # try:
    display(name, namber)
    Firefox.get('http://financials.morningstar.com/ratios/r.html?t=' + name + '&region=usa&culture=en-US')
    if (Firefox.current_url != 'https://www.morningstar.com/back_soon.html'):
      # display('cont')
      try:
        WebDriverWait(Firefox, 10).until(EC.element_to_be_clickable((By.XPATH, '/html/body/div[1]/div[3]/div[2]/div[1]/div/div/div[2]/div/a/div')))
        Firefox.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/div[1]/div/div/div[2]/div/a/div').click()
        namber +=1
        while len(os.listdir('E:/Mozila/5min_fill/')) != namber:
          display('here', namber)
          time.sleep(0.1)
      except TimeoutException:
        absenсe.append(name)
        error_count+=1
        continue
  
    else:
      error.append(name)
      error_count+=1
      # display('next')
      continue

In [ ]:
# Compare

list1 = pd.DataFrame(os.listdir(u"F:/Мой диск/fund_data/Date2010"))[0]
list2 = pd.DataFrame(os.listdir(u"F:/Мой диск/fund_data/Date"))[0]
list3 = pd.DataFrame(os.listdir(u"F:/Мой диск/fund_data/Date_all"))[0]
  
# display(len(list2[~list2.isin(list1)]), len(list1[~list1.isin(list2)]))
li3 = []
li2 = []
li1 = []

for i in range(len(list3)):
  li3.append(str.split(str(list3[i]), ' ')[0])
for i in range(len(list2)):
  li2.append(str.split(str(list2[i]), ' ')[0])
for i in range(len(list1)):
  li1.append(str.split(str(list1[i]), ' ')[0])
display(pd.Series(li1).size, pd.Series(li2).size, pd.Series(li3).size)

In [ ]:
not_in_2020 = list(pd.DataFrame(li3)[~pd.DataFrame(li3)[0].isin(pd.DataFrame(li2)[0])][0])
# pd.Series(not_in_2020).to_csv(my_dir + '/not_in_2020.csv')
not_in_2020

In [ ]:
%%time
df_all = pd.DataFrame()
for file in os.listdir(u"F:/Мой диск/fund_data/Date_all")[:]:
#     display(file)
    df = pd.read_csv(u"F:/Мой диск/fund_data/Date_all/" + file, sep=',', skiprows=2, engine="python", thousands=',')
    df = df.drop_duplicates(subset=['Unnamed: 0'])
    df['Symbol'] = file.split(' ')[0]
    df_all = df_all.append(df)
# df_all

Wall time: 1min 46s

In [ ]:
display(df_all.shape)
df_for_analyze = df_all[['Unnamed: 0',	'2011-12',	'2012-12',	'2013-12',	'2014-12',	'2015-12',	'2016-12',	'2017-12',	'2018-12',	'2019-12',	'2020-12',	'TTM',	'Symbol']].dropna()
display(df_for_analyze.shape)
df_for_analyze

(64080, 138)

(29387, 13)

,Unnamed: 0,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,2019-12,2020-12,TTM,Symbol
0,Revenue USD Mil,2280,2730,2973,3334,3485,3604,4204,4442,4829,5371,5371,MCO
1,Gross Margin %,70.0,70.9,72.3,72.1,72.0,71.5,70.9,72.0,71.3,72.5,72.5,MCO
2,Operating Income USD Mil,888,1102,1253,1446,1479,1516,1831,1925,2075,2447,2447,MCO
3,Operating Margin %,39.0,40.4,42.2,43.4,42.5,42.1,43.6,43.3,43.0,45.6,45.6,MCO
4,Net Income USD Mil,571,690,805,989,941,267,1001,1309,1422,1778,1778,MCO
...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,Cash Conversion Cycle,-2.96,-22.08,-37.51,-23.38,-15.17,-9.67,-17.55,-17.27,-7.40,-0.18,-0.18,WMB
97,Receivables Turnover,10.60,11.30,10.65,9.72,7.34,7.61,8.39,9.47,9.38,8.66,8.66,WMB
98,Inventory Turnover,23.52,24.72,20.82,19.73,19.64,26.32,32.16,37.60,29.65,25.55,25.55,WMB
99,Fixed Assets Turnover,0.48,0.53,0.41,0.33,0.26,0.26,0.28,0.31,0.29,0.27,0.27,WMB
100,Asset Turnover,0.38,0.37,0.27,0.20,0.15,0.16,0.17,0.19,0.18,0.17,0.17,WMB

In [ ]:
cols = df_for_analyze.columns.drop(['Unnamed: 0', 'Symbol'])
df_for_analyze[cols]
df_for_analyze[cols] = df_for_analyze[cols].apply(pd.to_numeric, errors='coerce')
df_for_analyze = df_for_analyze.dropna()
df_for_analyze
# cols

,Unnamed: 0,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,2017-12,2018-12,2019-12,2020-12,TTM,Symbol
0,Revenue USD Mil,2280.00,2730.00,2973.00,3334.00,3485.00,3604.00,4204.00,4442.00,4829.00,5371.00,5371.00,MCO
1,Gross Margin %,70.00,70.90,72.30,72.10,72.00,71.50,70.90,72.00,71.30,72.50,72.50,MCO
2,Operating Income USD Mil,888.00,1102.00,1253.00,1446.00,1479.00,1516.00,1831.00,1925.00,2075.00,2447.00,2447.00,MCO
3,Operating Margin %,39.00,40.40,42.20,43.40,42.50,42.10,43.60,43.30,43.00,45.60,45.60,MCO
4,Net Income USD Mil,571.00,690.00,805.00,989.00,941.00,267.00,1001.00,1309.00,1422.00,1778.00,1778.00,MCO
...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,Cash Conversion Cycle,-2.96,-22.08,-37.51,-23.38,-15.17,-9.67,-17.55,-17.27,-7.40,-0.18,-0.18,WMB
97,Receivables Turnover,10.60,11.30,10.65,9.72,7.34,7.61,8.39,9.47,9.38,8.66,8.66,WMB
98,Inventory Turnover,23.52,24.72,20.82,19.73,19.64,26.32,32.16,37.60,29.65,25.55,25.55,WMB
99,Fixed Assets Turnover,0.48,0.53,0.41,0.33,0.26,0.26,0.28,0.31,0.29,0.27,0.27,WMB
100,Asset Turnover,0.38,0.37,0.27,0.20,0.15,0.16,0.17,0.19,0.18,0.17,0.17,WMB

In [ ]:
df_for_analyze = df_for_analyze.pivot(index='Unnamed: 0', columns='Symbol').T
df_for_analyze = df_for_analyze.reset_index()
df_for_analyze = df_for_analyze.rename(columns = {'level_0':'Date'})
df_for_analyze = df_for_analyze[df_for_analyze['Date'] != 'TTM']
df_for_analyze['Date'] = pd.to_datetime(df_for_analyze['Date'])

In [ ]:
label = pd.read_csv(u"F:/Мой диск/fund_data/Date/" + 'IBM Key Ratios.csv', sep=',', skiprows=2, engine="python", thousands=',')
Profitability    = \
list(label['Unnamed: 0'][16:35])
Growth = \
list(label['Unnamed: 0'][37:57])
Cash_Flow = \
list(label['Unnamed: 0'][58:64])
Financial_Health = \
list(label['Unnamed: 0'][65:86])
Liquidity_Financial_Health = \
list(label['Unnamed: 0'][87:91])
Efficiency_Ratios = \
list(label['Unnamed: 0'][92:])
all_ind = [Profitability, Growth, Cash_Flow, Financial_Health, Liquidity_Financial_Health, Efficiency_Ratios]

# List of Symbol > 50

In [ ]:
pi = pd.pivot_table(df_for_analyze,
              index = 'Sumbol',
               values = '2011-12',
               aggfunc=['count']
              )
pi = pi.reset_index()
symbol_for_job = list(pi[pi[('count', '2011-12')]>50]['Sumbol'])

In [ ]:
np.array(symbol_for_job).size

306

# Resample to Year

In [10]:
%%time

# df_for_analyze_year = pd.DataFrame() #change
df_for_analyze_mnth = pd.DataFrame()
ohlc_dict = {                                                                                                             
'1. open':'first',                                                                                                    
'2. high':'max',                                                                                                       
'3. low':'min',                                                                                                        
'4. close': 'last',
'5. adjusted close': 'last',                                                                                                    
'6. volume': 'sum',
'7. dividend amount': 'sum',

# 'Symbol':'mean'
}
for i in tqdm(list(stock['Symbol'].unique())[:]):
  # display(i)
  df_year = (stock[stock['Symbol'] == i].resample('M', closed='right', label='left', on='Date').apply(ohlc_dict))         # Y versus M
  df_year['Symbol'] = i
  df_year['%_1'] = (df_year['4. close'].shift(-1)/df_year['4. close'].shift(0) - 1)*100
  df_year['%ad_1'] = (df_year['5. adjusted close'].shift(-1)/df_year['5. adjusted close'].shift(0) - 1)*100
  df_year['%_0'] = (df_year['4. close'].shift(0) /df_year['4. close'].shift(1) - 1)*100
  df_year['div_1'] = (df_year['7. dividend amount'].shift(-1)/df_year['4. close'].shift(0))*100

  # df_for_analyze_year = df_for_analyze_year.append(df_year)                                                               #change
  df_for_analyze_mnth = df_for_analyze_mnth.append(df_year)
# df_for_analyze_year.reset_index(inplace=True)                                                                             #change
df_for_analyze_mnth.reset_index(inplace=True)
# df_for_analyze_year.dropna(inplace=True)
# df_for_analyze_mnth

100%|████████████████████████████████████████████████████████████████████████████████| 610/610 [02:11<00:00,  4.64it/s]

Wall time: 2min 11s

In [11]:
df_for_analyze_year

,Date,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,Symbol,%_1,%ad_1,%_0,div_1
0,1998-12-31,46.75,51.750,43.690,50.31,17.509304,20416200.0,0.140,PX,-11.786921,-10.380096,NaN,1.232359
1,1999-12-31,50.31,54.940,30.310,44.38,15.691822,230692000.0,0.620,PX,24.493015,26.210420,-11.786921,1.532222
2,2000-12-31,43.63,55.920,36.500,55.25,19.804714,211230400.0,0.680,PX,4.561086,5.982484,24.493015,1.375566
3,2001-12-31,55.75,61.110,44.550,57.77,20.989528,257450500.0,0.760,PX,-33.875714,34.195559,4.561086,1.583867
4,2002-12-31,58.00,75.250,36.490,38.20,28.167014,234874100.0,0.915,PX,15.575916,17.321982,-33.875714,1.570681
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11831,2016-12-31,75.31,131.260,74.630,130.39,130.390000,396638894.0,0.000,NOW,36.551883,36.551883,75.396825,0.000000
11832,2017-12-31,131.00,206.295,130.140,178.05,178.050000,496712539.0,0.000,NOW,58.562202,58.562202,36.551883,0.000000
11833,2018-12-31,174.12,303.170,168.470,282.32,282.320000,536892552.0,0.000,NOW,94.966704,94.966704,58.562202,0.000000
11834,2019-12-31,284.96,566.740,238.930,550.43,550.430000,465264044.0,0.000,NOW,-13.127918,-13.127918,94.966704,0.000000
11835,2020-12-31,556.94,598.370,462.505,478.17,478.170000,85937849.0,0.000,NOW,NaN,NaN,-13.127918,NaN

# Merg, Industry, result_all, pivot

In [12]:
df_for_analyze['YM'] = pd.to_datetime(df_for_analyze["Date"].dt.strftime('%Y-%m'))
df_for_analyze_year['YM'] = pd.to_datetime(df_for_analyze_year["Date"].dt.strftime('%Y-%m'))
display(stock.shape, df_for_analyze_year.shape)
merg = pd.merge(df_for_analyze, df_for_analyze_year, on = ['YM', 'Symbol'], how = 'inner')
# merg['Year'] = merg['Date'].dt.year

# Add month
df_for_analyze_mnth['YM'] = pd.to_datetime(df_for_analyze_mnth["Date"].dt.strftime('%Y-%m'))
merg = pd.merge(merg, df_for_analyze_mnth, on = ['YM', 'Symbol'], how = 'left', suffixes=('', 'mnth'))

(2747373, 11)

(11836, 14)

In [13]:
k = []
for i, s in zip(list(range(len(merg))), merg['Symbol']):
  if str(s) in tickerandsector.ticker.values:
    k.append(dict(tickerandsector[['ticker', 'industry']].values)[s])
  else:
    k.append('None')
merg['Industry'] = k

# New Section

In [14]:
mt = list(df_for_analyze.columns[3:-1])
mt = list(merg.columns[2:100])
quan = []
for item in mt:
    merg[str(item) + '_L'] =  np.where(merg[item] < merg[item].quantile([1/3]).values[0], 0.1, \
            np.where(merg[item] > merg[item].quantile([2/3]).values[0], 0.2, 0.15))
    quan.append(str(item) + '_L')

result_all = pd.DataFrame()
for ie in merg['Industry'].unique():
    display(ie)
    result_9999 = merg[merg['Industry'] == ie].copy()
    display((result_9999).shape)
    for item in mt:
        result_9999[str(item) + '_L'] =  np.where(result_9999[item] < result_9999[item].quantile([1/3]).values[0], 0.1, \
                np.where(result_9999[item] > result_9999[item].quantile([2/3]).values[0], 0.2, 0.15))
        quan.append(str(item) + '_L')
    result_all = result_all.append(result_9999)
#     result_9999 = pd.DataFrame()

'Industrials'

(434, 225)

'Consumer Discretionary'

(305, 225)

'Health Care'

(378, 225)

'None'

(1073, 225)

'Utilities'

(234, 225)

'Financials'

(498, 225)

'Information Technology'

(252, 225)

'Materials'

(200, 225)

'Real Estate'

(230, 225)

'Energy'

(205, 225)

'Communication Services'

(148, 225)

'Consumer Staples'

(127, 225)

# Download stock and df_for_analyze and merg

In [15]:
# df_for_analyze.to_excel(my_dir + '/df_for_analyze.xlsx')
df_for_analyze = pd.read_excel(my_dir + '/df_for_analyze.xlsx', index_col=0)

stock   = pd.read_csv('F:/Мой диск/Marat/' + 'all_stocks.csv') 
stock   = pd.read_csv('F:/Мой диск/Marat/' + 'stock_2403.csv', parse_dates=['Date']) 
stock_not_2020   = pd.read_csv('F:/Мой диск/fund_data' + '/stock_not_in2020.csv', parse_dates=['Date']) 
stock = stock_not_2020.append(stock)

# merg.to_excel(my_dir + '/merg_.xlsx')
# result_all.to_excel(my_dir + '/result_all.xlsx')
merg = pd.read_excel(my_dir + '/merg_.xlsx', index_col=0)
result_all = pd.read_excel(my_dir + '/result_all.xlsx', index_col=0)

# Pivot

In [68]:
on = result_all[result_all['%_1'] < -50][merg.columns[2:100]].agg(['mean', 'count']).round(2).T
tw = result_all[result_all['%_1'] != -50][merg.columns[2:100]].agg(['mean', 'count']).round(2).T

In [ ]:
mer = pd.merge(on, tw, left_index=True,right_index=True)
mer[mer['count_y'] > 1000]

In [73]:
mer[mer['count_y'] > 1000].to_excel(my_dir + '/min50.xlsx')

In [191]:
all_one = pd.DataFrame()
all_two = pd.DataFrame()
for i in list(merg.columns[2:100])[:]:
  one = (pd.pivot_table(result_all[(~result_all[i].isnull())
                          &(~result_all['%_1'].isnull())
                          # &(result_all['%_1'] <= -30)
                          # &(result_all['Industry'] != 'None')
                          # &(result_all['YM'].dt.year == 2019)
                          # &(result_all['%_1'] > -50)
                          # &(result_all['%_1'] < 100)
                          ],
              #  index = i + str('_L'),
               columns = [i + str('_L')],
               values = [i],
              #  aggfunc=['count', 'mean'],
              #  margins=True
               ))
  # display(one)
  # c_name = []
  # for zz in range(len(one.columns)):
  #     c_name.append(str(one.columns[zz][0]) + '_' + str(one.columns[zz][1]))
  # one.columns = c_name
  # one.rename(index={'%_1':i}, inplace=True)
  # display(one)
  all_one = all_one.append(one)

for i in list(merg.columns[2:100])[:]:
  one = (pd.pivot_table(result_all[(~result_all[i].isnull())
                          &(~result_all['%_1'].isnull())
                          # &(result_all['%_1'] <= -30)
                          # &(result_all['Industry'] != 'None')
                          # &(result_all['YM'].dt.year == 2019)
                          # &(result_all['%_1'] > -50)
                          # &(result_all['%_1'] < 50)
                          ],
              #  index = i + str('_L'),
               columns = [i + str('_L')],
               values = ['%_1', 'div_1'],
               aggfunc=['count', 'mean'],
              #  margins=True
               ))
  # display(one)
  c_name = []
  for zz in range(len(one.columns)):
      c_name.append(str(one.columns[zz][0]) + '_' + str(one.columns[zz][1]))
  one.columns = c_name
  one.rename(index={'%_1':i}, inplace=True)               #change
  # one.rename(index={'div_1':i}, inplace=True)
  # display(one)
  all_two = all_two.append(one)

In [192]:
merg_all = pd.merge(all_one, all_two, left_index=True,right_index=True)
# merg_all.to_excel(my_dir + '/merg_all.xlsx')
merg_all['dif'] = merg_all['mean_0.2'] - merg_all['mean_0.1']
merg_all = merg_all.sort_values('dif') 
merg_all = merg_all.dropna()
merg_all = merg_all[merg_all['count_0.1'] > 50]
merg_all.round(2)

,0.1,0.15,0.2,count_0.1,count_0.15,count_0.2,mean_0.1,mean_0.15,mean_0.2,dif
Operating Income USD Mil,272.43,1105.01,5371.05,1001.0,1005.0,1037.0,21.98,9.22,8.54,-13.44
Net Income USD Mil,-187.47,719.46,4548.82,1153.0,1164.0,1174.0,21.71,11.94,8.33,-13.38
Net Margin %,-4.34,9.84,22.53,1133.0,1183.0,1162.0,21.77,10.84,9.33,-12.44
Interest Coverage,0.67,6.74,29.74,886.0,943.0,958.0,19.89,10.75,7.81,-12.08
Operating Margin,5.05,15.85,28.84,991.0,1026.0,1040.0,20.59,9.93,9.33,-11.26
Operating Margin %,5.01,15.78,28.86,982.0,1036.0,1039.0,20.60,9.98,9.36,-11.23
Free Cash Flow USD Mil,-333.70,736.63,5161.24,1191.0,1158.0,1142.0,21.19,10.14,10.27,-10.93
EBT Margin,-3.00,13.05,29.50,1100.0,1158.0,1175.0,21.08,9.17,10.55,-10.53
Operating Cash Flow USD Mil,330.24,1404.70,7757.39,1176.0,1162.0,1153.0,20.06,11.73,9.96,-10.09
Earnings Per Share USD,-0.96,2.58,8.67,1145.0,1185.0,1144.0,19.22,12.25,9.47,-9.75
Total Stockholders' Equity,10.11,32.99,54.30,1141.0,1169.0,1176.0,18.99,12.65,10.18,-8.81
Shares Mil,112.06,287.30,1289.26,1159.0,1191.0,1174.0,19.86,10.76,11.43,-8.44
Free Cash Flow/Sales %,-8.06,11.42,26.57,1193.0,1183.0,1130.0,18.67,12.54,10.45,-8.23
Return on Assets %,-1.28,4.82,11.40,1093.0,1163.0,1167.0,17.54,12.41,9.95,-7.59
Dividends USD,0.56,1.36,3.00,719.0,725.0,669.0,13.31,9.14,6.58,-6.73
Return on Invested Capital %,1.00,9.20,19.01,830.0,910.0,928.0,15.74,9.98,9.27,-6.47
Net Int Inc & Other,-13.34,-0.80,9.57,1110.0,1151.0,1172.0,17.28,13.66,11.07,-6.21
Days Inventory,21.35,58.52,132.26,725.0,731.0,697.0,15.06,15.60,8.93,-6.13
Return on Equity %,-1.55,13.51,34.92,976.0,1044.0,1053.0,15.98,9.68,10.36,-5.62
Payables Period,24.09,49.22,129.42,947.0,933.0,897.0,13.76,15.99,8.59,-5.17
Gross Margin,24.19,42.30,63.29,1009.0,1013.0,1018.0,16.31,11.88,11.39,-4.91
Gross Margin %,24.17,42.23,63.42,1003.0,1026.0,1011.0,16.25,11.94,11.42,-4.83
Intangibles,8.05,23.65,50.60,933.0,938.0,932.0,15.83,11.63,11.58,-4.25
Book Value Per Share * USD,3.86,20.37,63.29,1110.0,1119.0,1076.0,17.73,9.33,13.54,-4.19
Days Sales Outstanding,24.84,46.13,82.98,1004.0,991.0,951.0,15.54,11.81,11.37,-4.17
Revenue USD Mil,2752.25,8120.09,40368.38,1173.0,1151.0,1167.0,16.42,12.86,12.56,-3.86
Free Cash Flow/Net Income,-2.50,0.90,4.30,1151.0,1180.0,1139.0,16.24,13.28,12.60,-3.64
Other,-7.34,3.12,20.52,699.0,706.0,674.0,14.83,11.21,11.19,-3.64
Cap Ex as a % of Sales,3.04,6.79,26.51,1056.0,1108.0,1072.0,16.47,12.28,12.91,-3.56
Taxes Payable,0.31,0.86,2.42,445.0,466.0,455.0,12.29,14.17,9.81,-2.48
Payout Ratio % *,27.78,45.92,93.71,460.0,459.0,427.0,11.73,13.03,9.30,-2.43
Cash Conversion Cycle,-3.74,51.92,126.25,709.0,719.0,707.0,10.61,20.16,8.65,-1.96
Other Long-Term Liabilities,1.03,10.67,22.83,1148.0,1135.0,1113.0,16.46,10.69,14.55,-1.91
Quick Ratio,0.52,0.97,2.37,1009.0,1022.0,1005.0,13.81,12.41,12.81,-1.00
Cash & Short-Term Investments,2.55,10.18,28.05,1173.0,1149.0,1132.0,14.36,14.18,13.54,-0.81
SG&A,8.16,17.73,34.43,1016.0,1030.0,1033.0,14.03,15.66,13.67,-0.36
Accounts Receivable,3.62,8.71,18.66,1096.0,1103.0,1143.0,12.84,15.74,12.50,-0.34
Short-Term Debt,0.71,2.47,9.17,625.0,632.0,661.0,10.32,12.56,10.58,0.26
Other Long-Term Assets,0.58,10.59,26.18,1162.0,1125.0,1126.0,12.29,15.05,12.57,0.28
Current Ratio,0.87,1.44,3.02,998.0,1020.0,1018.0,11.99,14.14,12.86,0.88
Fixed Assets Turnover,1.81,4.93,23.14,995.0,1063.0,1103.0,12.36,14.16,14.58,2.21
Financial Leverage (Average),2.02,3.41,7.30,1007.0,1033.0,988.0,10.55,12.20,12.86,2.31
Financial Leverage,2.02,3.41,7.30,1007.0,1033.0,988.0,10.55,12.20,12.86,2.31
Long-Term Debt,14.72,27.88,49.11,1045.0,1034.0,1002.0,13.93,8.26,16.52,2.58
Inventory,1.76,6.15,17.21,723.0,725.0,750.0,12.55,12.24,15.16,2.61
Debt/Equity,0.37,0.76,2.21,897.0,930.0,862.0,10.08,10.91,12.75,2.67
Other Short-Term Liabilities,-0.52,4.06,13.99,955.0,946.0,952.0,12.49,13.89,15.43,2.94
Net PP&E,11.04,22.90,48.52,1075.0,1065.0,1048.0,11.79,14.51,15.11,3.32
Accrued Liabilities,1.60,3.83,8.69,807.0,813.0,808.0,12.88,12.28,16.40,3.52
Accounts Payable,1.67,4.70,13.31,986.0,1009.0,1021.0,12.18,13.42,15.80,3.62
Other Current Assets,-9.69,-0.84,6.97,1072.0,1124.0,1146.0,12.23,12.96,16.30,4.07
Receivables Turnover,5.11,8.40,29.01,945.0,994.0,1007.0,11.29,11.79,15.62,4.33
Total Current Liabilities,9.77,17.93,33.36,1011.0,1004.0,1039.0,11.80,10.98,16.37,4.56
R&D,4.79,9.49,29.49,264.0,269.0,263.0,14.51,17.86,19.67,5.16
Tax Rate %,16.20,26.32,41.52,378.0,430.0,463.0,11.92,11.41,17.12,5.20
COGS,37.66,58.16,76.00,986.0,991.0,986.0,10.98,11.40,16.91,5.94
Inventory Turnover,3.75,7.50,45.81,694.0,732.0,727.0,9.00,15.37,15.20,6.20
Total Current Assets,13.63,29.89,51.33,1004.0,1005.0,1045.0,8.89,14.77,15.50,6.61
Asset Turnover (Average),0.28,0.54,1.23,1052.0,1223.0,1166.0,9.97,12.32,17.11,7.14
Asset Turnover,0.28,0.54,1.23,1052.0,1223.0,1166.0,9.97,12.32,17.11,7.14
Cap Spending USD Mil,-3462.51,-641.81,-204.83,1065.0,1074.0,1073.0,10.52,12.61,18.27,7.75
Total Liabilities,45.66,67.04,89.97,1173.0,1176.0,1146.0,10.20,12.69,18.83,8.63

In [216]:
for i in merg.columns[2:100][:]:
  display(i, \
          result_all[(result_all['Days Inventory_L'] == 0.1)&(result_all[str(i) + '_L'] == 0.2)]['%ad_1'].agg(['mean']).round(2) - \
          result_all[(result_all['Days Inventory_L'] == 0.2)&(result_all[str(i) + '_L'] == 0.15)]['%ad_1'].agg(['mean']).round(2),\
          # result_all[(result_all['Days Inventory_L'] == 0.1)&(result_all[str(i) + '_L'] == 0.15)]['%ad_1'].agg(['mean']).round(2)
          )

'Accounts Payable'

mean    6.28
Name: %ad_1, dtype: float64

'Accounts Receivable'

mean    4.21
Name: %ad_1, dtype: float64

'Accrued Liabilities'

mean    11.47
Name: %ad_1, dtype: float64

'Asset Turnover'

mean    7.22
Name: %ad_1, dtype: float64

'Asset Turnover (Average)'

mean    7.22
Name: %ad_1, dtype: float64

'Book Value Per Share * AUD'

mean   NaN
Name: %ad_1, dtype: float64

'Book Value Per Share * EUR'

mean   NaN
Name: %ad_1, dtype: float64

'Book Value Per Share * RUB'

mean   NaN
Name: %ad_1, dtype: float64

'Book Value Per Share * THB'

mean   NaN
Name: %ad_1, dtype: float64

'Book Value Per Share * USD'

mean    0.7
Name: %ad_1, dtype: float64

'COGS'

mean    4.22
Name: %ad_1, dtype: float64

'Cap Ex as a % of Sales'

mean   -3.07
Name: %ad_1, dtype: float64

'Cap Spending AUD Mil'

mean   NaN
Name: %ad_1, dtype: float64

'Cap Spending EUR Mil'

mean   -18.02
Name: %ad_1, dtype: float64

'Cap Spending RUB Mil'

mean   NaN
Name: %ad_1, dtype: float64

'Cap Spending THB Mil'

mean   NaN
Name: %ad_1, dtype: float64

'Cap Spending USD Mil'

mean    14.15
Name: %ad_1, dtype: float64

'Cash & Short-Term Investments'

mean    5.86
Name: %ad_1, dtype: float64

'Cash Conversion Cycle'

mean   -13.82
Name: %ad_1, dtype: float64

'Current Ratio'

mean    3.02
Name: %ad_1, dtype: float64

'Days Inventory'

mean   NaN
Name: %ad_1, dtype: float64

'Days Sales Outstanding'

mean    2.31
Name: %ad_1, dtype: float64

'Debt/Equity'

mean    1.34
Name: %ad_1, dtype: float64

'Dividends EUR'

mean    18.86
Name: %ad_1, dtype: float64

'Dividends THB'

mean   NaN
Name: %ad_1, dtype: float64

'Dividends USD'

mean    2.3
Name: %ad_1, dtype: float64

'EBT Margin'

mean    1.83
Name: %ad_1, dtype: float64

'Earnings Per Share AUD'

mean   NaN
Name: %ad_1, dtype: float64

'Earnings Per Share EUR'

mean   -13.91
Name: %ad_1, dtype: float64

'Earnings Per Share RUB'

mean   NaN
Name: %ad_1, dtype: float64

'Earnings Per Share THB'

mean   NaN
Name: %ad_1, dtype: float64

'Earnings Per Share USD'

mean    0.09
Name: %ad_1, dtype: float64

'Financial Leverage'

mean    1.3
Name: %ad_1, dtype: float64

'Financial Leverage (Average)'

mean    1.3
Name: %ad_1, dtype: float64

'Fixed Assets Turnover'

mean    1.11
Name: %ad_1, dtype: float64

'Free Cash Flow AUD Mil'

mean   NaN
Name: %ad_1, dtype: float64

'Free Cash Flow EUR Mil'

mean   NaN
Name: %ad_1, dtype: float64

'Free Cash Flow RUB Mil'

mean   NaN
Name: %ad_1, dtype: float64

'Free Cash Flow THB Mil'

mean   NaN
Name: %ad_1, dtype: float64

'Free Cash Flow USD Mil'

mean    3.45
Name: %ad_1, dtype: float64

'Free Cash Flow/Net Income'

mean    4.27
Name: %ad_1, dtype: float64

'Free Cash Flow/Sales %'

mean   -0.07
Name: %ad_1, dtype: float64

'Gross Margin'

mean   -1.47
Name: %ad_1, dtype: float64

'Gross Margin %'

mean   -1.35
Name: %ad_1, dtype: float64

'Intangibles'

mean    2.71
Name: %ad_1, dtype: float64

'Interest Coverage'

mean   -3.65
Name: %ad_1, dtype: float64

'Inventory'

mean    5.52
Name: %ad_1, dtype: float64

'Inventory Turnover'

mean    19.21
Name: %ad_1, dtype: float64

'Long-Term Debt'

mean    0.23
Name: %ad_1, dtype: float64

'Net Income AUD Mil'

mean   NaN
Name: %ad_1, dtype: float64

'Net Income EUR Mil'

mean   NaN
Name: %ad_1, dtype: float64

'Net Income RUB Mil'

mean   NaN
Name: %ad_1, dtype: float64

'Net Income THB Mil'

mean   NaN
Name: %ad_1, dtype: float64

'Net Income USD Mil'

mean   -1.8
Name: %ad_1, dtype: float64

'Net Int Inc & Other'

mean   -0.55
Name: %ad_1, dtype: float64

'Net Margin %'

mean   -2.62
Name: %ad_1, dtype: float64

'Net PP&E'

mean   -2.83
Name: %ad_1, dtype: float64

'Operating Cash Flow EUR Mil'

mean   NaN
Name: %ad_1, dtype: float64

'Operating Cash Flow RUB Mil'

mean   NaN
Name: %ad_1, dtype: float64

'Operating Cash Flow THB Mil'

mean   NaN
Name: %ad_1, dtype: float64

'Operating Cash Flow USD Mil'

mean    5.29
Name: %ad_1, dtype: float64

'Operating Income AUD Mil'

mean   NaN
Name: %ad_1, dtype: float64

'Operating Income EUR Mil'

mean   NaN
Name: %ad_1, dtype: float64

'Operating Income RUB Mil'

mean   NaN
Name: %ad_1, dtype: float64

'Operating Income THB Mil'

mean   NaN
Name: %ad_1, dtype: float64

'Operating Income USD Mil'

mean    1.69
Name: %ad_1, dtype: float64

'Operating Margin'

mean    1.72
Name: %ad_1, dtype: float64

'Operating Margin %'

mean    1.81
Name: %ad_1, dtype: float64

'Other'

mean   -2.38
Name: %ad_1, dtype: float64

'Other Current Assets'

mean    9.23
Name: %ad_1, dtype: float64

'Other Long-Term Assets'

mean   -2.24
Name: %ad_1, dtype: float64

'Other Long-Term Liabilities'

mean    3.66
Name: %ad_1, dtype: float64

'Other Short-Term Liabilities'

mean    4.86
Name: %ad_1, dtype: float64

'Payables Period'

mean   -0.15
Name: %ad_1, dtype: float64

'Payout Ratio % *'

mean    2.71
Name: %ad_1, dtype: float64

'Quick Ratio'

mean   -0.7
Name: %ad_1, dtype: float64

'R&D'

mean    15.4
Name: %ad_1, dtype: float64

'Receivables Turnover'

mean    3.75
Name: %ad_1, dtype: float64

'Return on Assets %'

mean    1.67
Name: %ad_1, dtype: float64

'Return on Equity %'

mean    3.23
Name: %ad_1, dtype: float64

'Return on Invested Capital %'

mean    1.24
Name: %ad_1, dtype: float64

'Revenue'

mean   NaN
Name: %ad_1, dtype: float64

'Revenue AUD Mil'

mean   NaN
Name: %ad_1, dtype: float64

'Revenue EUR Mil'

mean   NaN
Name: %ad_1, dtype: float64

'Revenue RUB Mil'

mean   NaN
Name: %ad_1, dtype: float64

'Revenue THB Mil'

mean   NaN
Name: %ad_1, dtype: float64

'Revenue USD Mil'

mean    3.59
Name: %ad_1, dtype: float64

'SG&A'

mean    4.05
Name: %ad_1, dtype: float64

'Shares Mil'

mean   -0.74
Name: %ad_1, dtype: float64

'Short-Term Debt'

mean   -0.84
Name: %ad_1, dtype: float64

'Tax Rate %'

mean    7.99
Name: %ad_1, dtype: float64

'Taxes Payable'

mean   -1.55
Name: %ad_1, dtype: float64

'Total Assets'

mean   NaN
Name: %ad_1, dtype: float64

'Total Current Assets'

mean    11.2
Name: %ad_1, dtype: float64

'Total Current Liabilities'

mean    10.32
Name: %ad_1, dtype: float64

'Total Liabilities'

mean    5.66
Name: %ad_1, dtype: float64

'Total Liabilities & Equity'

mean   NaN
Name: %ad_1, dtype: float64

"Total Stockholders' Equity"

mean    1.07
Name: %ad_1, dtype: float64

In [217]:
dd = str('Inventory Turnover')
pd.pivot_table(result_all[(result_all['Days Inventory_L'] == 0.1)
                          &(result_all[dd  + '_L'] == 0.15)
                          &(~result_[dd].isnull())
                          ],
               index = 'Year',
               values = ['%_1', '%ad_1', '%_1mnth', '%_0'],
               aggfunc=['count', 'mean'],
               margins=True
 )#.agg(['mean', 'count']).round(2)

       count                         mean
         %_0 %_1 %_1mnth %ad_1        %_0        %_1   %_1mnth      %ad_1
Year
2017.0     1   1       1     1 -30.767316  34.184040 -5.118204  38.345831
2019.0     1   1       1     1  23.144924  -6.511493 -5.357702  -5.830189
All        2   2       2     2  -3.811196  13.836274 -5.237953  16.257821

In [198]:
ii

'Cash Conversion Cycle'

In [203]:
pd.pivot_table(result_all[(result_all['Days Inventory_L'] == 0.2)
                          &(result_all[dd  + '_L'] != 0.2)
                          &(~result_[dd].isnull())
                        ],
               index = [
                        'Year',
                        # dd
                        ],
               values = ['%_1', '%ad_1', '%_1mnth', '%_0'],
               aggfunc=['count', 'mean'],
               margins=True
 )#.agg(['mean', 'count']).round(2)

       count                          mean
         %_0  %_1 %_1mnth %ad_1        %_0        %_1    %_1mnth      %ad_1
Year
2011.0    17   17      17    17  21.987627  15.949767   6.386777  28.403189
2012.0    16   16      16    16  39.246624   3.045277   1.819337   7.715755
2013.0    19   19      19    19   2.381330 -12.833923   8.180334  -9.008862
2014.0    17   17      17    17 -12.234945  16.065620   7.024640  25.400037
2015.0    21   21      21    21  49.619379  39.033094   2.913426  17.591881
2016.0    25   25      25    25  16.430261  -9.208601   1.026629  -6.895029
2017.0    18   17      18    17  -3.351607  11.284478  -6.565770  14.219974
2018.0    21   21      21    21  16.048913 -10.137149   3.501609   1.347679
2019.0    26   26      26    26   1.484680   9.288775 -10.357702   9.805727
2020.0    29    0      29     0  10.822949        NaN   7.432657        NaN
All      179  179     179   179  14.415342   6.475338   1.055211   8.876995

In [193]:
quan_ = mt
result_ = result_all.copy()
# result_ = merg.copy()

# for i, ii in zip(quan[:], quan_[:]):
for i, ii in zip(['Cash Conversion Cycle_L'],['Cash Conversion Cycle']):
# for i, ii in zip(['numb_aff_L'],['numb_aff']):
# for i, ii in zip(['negative_L', 'negative_exp_L'],['negative', 'negative_exp']):
    # for ye in list(range(2019,2000,-1)):
    for ye in ['___']:
    # for ye in result_all['Industry'].unique():
        # display(i, ye)
        piv = pd.pivot_table(result_[~result_[ii].isnull()
                            # &(result_['Symbol'].isin(not_in_2020))
                            # &(result_['len_exp_7_L'] != 0.1)
                            # &(result_['Industry'] == ye)        
                            # &(result_['Year'] == ye)
                            # &(result_['Date'].dt.month.isin([1,2,3]))
                          ]
                             ,
                      index=[
                          # 'Industry',
    #                       'Year',
    #                       'Symbol',

    #                       'Mont',
    #                       'surprise_L',
    #                       'fear_L',
                          i,
    #                       'Lengh_L'
                      ],
                       values = ['%_1', '%ad_1', '%_1mnth', '%ad_1mnth', '%_0', ii],
                       aggfunc=['count', 'mean'],
                       margins=True

                      )
        c_name = []
        for zz in range(len(piv.columns)):
            c_name.append(piv.columns[zz][0] + '_' + piv.columns[zz][1])
        piv.columns = c_name
    #     piv = piv[:-1]
        piv = piv.T.drop_duplicates().T

    #     piv = piv.sort_values('mean_negative')
        # display(piv[-10:].mean())
        # display(piv[: 10].mean())
#         display(piv.sort_values('mean_' + str(ii)))

        try:
          if abs(piv.loc[0.2, 'mean_%_1'] - piv.loc[0.1, 'mean_%_1']) > -5:
            display(ii, piv, piv.loc[0.2, 'mean_%_1'] - piv.loc[0.1, 'mean_%_1'])
            print(f"***\n****")
        except:
          continue
        # display(piv)

'Cash Conversion Cycle'

,count_%_0,count_%_1,count_%_1mnth,count_Cash Conversion Cycle,mean_%_0,mean_%_1,mean_%_1mnth,mean_%ad_1,mean_%ad_1mnth,mean_Cash Conversion Cycle
Cash Conversion Cycle_L,,,,,,,,,,
0.1,785.0,709.0,786.0,791.0,12.896721,10.608267,0.693938,12.819236,1.001421,-3.781871
0.15,786.0,719.0,787.0,790.0,17.120844,20.156219,2.409931,17.895356,2.667757,52.174291
0.2,792.0,707.0,792.0,794.0,11.383818,8.646655,1.810575,11.764613,1.706991,126.318388
All,2123.0,2123.0,2123.0,2123.0,14.062601,13.019489,1.099250,14.019490,1.236347,58.352567

-1.9616118157632876

***
****

In [ ]:
merg.columns

## Check resample

In [ ]:
%%time
ts = TimeSeries(key='ELR8VABLOI4PH098', output_format='pandas')
stockM = pd.DataFrame()
# for ticker in cik_lookup.keys():
# for ticker in [d for d in cik_lookup.keys() if d != 'BF.B']:    ### ДОКАЧАТЬ
for ticker in ['MSFT']:
    time.sleep(10)
#     try:
    display(ticker)
    # s1, meta_data = ts.get_daily_adjusted(symbol=ticker, outputsize='full')
    s1, meta_data = ts.get_monthly_adjusted(symbol=ticker)
    # s1 = s1[['5. adjusted close']]
    s1['Symbol'] = ticker
    s1['Date'] = s1.index
    s1 = s1.drop_duplicates('Date')
    s1 = s1.sort_index()
    # for ii in range(50, 350, 100):
    #     s1[str(ii) + '_%'] = (s1['5. adjusted close'].shift(-ii)/s1['5. adjusted close'] - 1)*100 

    stockM = stockM.append(s1)
#     except:
#         continue
# stock

'MSFT'

Wall time: 11 s

In [ ]:
stock

,1. open,2. high,3. low,4. close,5. adjusted close,6. volume,7. dividend amount,Symbol,Date
date,,,,,,,,,
1999-12-31,94.69,100.80,91.880,97.88,28.6154,23581100.0,0.00,MMM,1999-12-31
2000-01-31,96.06,103.80,90.250,93.63,27.3729,34253500.0,0.00,MMM,2000-01-31
2000-02-29,94.38,96.19,81.310,88.19,25.9445,33435200.0,0.58,MMM,2000-02-29
2000-03-31,87.19,94.63,78.190,88.56,26.0534,43561100.0,0.00,MMM,2000-03-31
2000-04-28,89.38,98.31,85.310,86.63,25.4856,34480000.0,0.00,MMM,2000-04-28
...,...,...,...,...,...,...,...,...,...
2020-11-30,149.49,164.08,142.590,147.70,147.2697,22095055.0,0.00,AAP,2020-11-30
2020-12-31,149.07,163.70,147.500,157.51,157.2960,20575103.0,0.25,AAP,2020-12-31
2021-01-29,157.90,177.92,143.150,149.14,148.9373,21411807.0,0.00,AAP,2021-01-29
2021-02-26,151.13,169.41,150.031,160.35,160.1321,21840428.0,0.00,AAP,2021-02-26
2021-03-25,162.13,187.33,161.190,185.65,185.6500,18346379.0,0.25,AAP,2021-03-25

In [ ]:
df_for_analyze_year

,1. open,2. high,3. low,4. close,6. volume,Symbol,%_1
Date,,,,,,,
1998-12-31,95.1300,103.40,91.8800,96.38,4.665280e+07,MMM,25.025939
1999-12-31,96.8100,122.90,78.1900,120.50,4.196171e+08,MMM,-0.497925
2000-12-31,118.1000,127.00,85.8600,119.90,4.961653e+08,MMM,2.585488
2001-12-31,119.9000,131.60,100.0000,123.00,6.103754e+08,MMM,-31.479675
2002-12-31,123.2000,145.70,68.9400,84.28,6.101812e+08,MMM,-1.815377
2003-12-31,84.4800,90.29,73.3100,82.75,7.564031e+08,MMM,-6.344411
2004-12-31,82.7300,87.45,69.7100,77.50,7.615712e+08,MMM,0.554839
2005-12-31,77.7600,88.35,67.0500,77.93,8.291155e+08,MMM,9.187733
2006-12-31,77.5300,97.00,72.9000,85.09,9.673842e+08,MMM,-32.812316
2007-12-31,84.8000,85.21,50.0100,57.17,1.373666e+09,MMM,46.755291
2008-12-31,57.2300,84.32,40.8700,83.90,1.186762e+09,MMM,3.146603
2009-12-31,83.7900,91.49,67.9800,86.54,1.034800e+09,MMM,-5.558123
2010-12-31,86.5300,98.19,68.6300,81.73,1.059755e+09,MMM,12.296586
2011-12-31,83.7600,95.46,81.9850,91.78,7.216841e+08,MMM,51.906733
2012-12-31,91.5500,139.65,91.4000,139.42,6.675831e+08,MMM,18.949935
2013-12-31,140.0000,168.16,123.6100,165.84,6.317165e+08,MMM,-8.399662
2014-12-31,166.0000,170.50,134.0000,151.91,6.217631e+08,MMM,17.549865
2015-12-31,151.7300,182.27,134.6442,178.57,5.213972e+08,MMM,31.808254
2016-12-31,178.8300,244.23,173.5500,235.37,4.584118e+08,MMM,-19.543697
2017-12-31,235.7800,259.77,176.8700,189.37,6.525552e+08,MMM,-7.150024
2018-12-31,190.3400,219.75,150.5800,175.83,6.941342e+08,MMM,-0.978218
2019-12-31,175.2300,182.55,114.0400,174.11,8.434345e+08,MMM,8.167251
2020-12-31,174.1200,192.09,163.3800,188.33,1.634051e+08,MMM,NaN
1998-12-31,40.5000,41.13,33.0000,36.69,5.248194e+08,ABT,32.025075
1999-12-31,36.4400,56.25,29.3800,48.44,2.123465e+09,ABT,16.597853
2000-12-31,48.1300,57.17,42.0000,56.48,1.914375e+09,ABT,-34.313031
2001-12-31,56.2500,58.00,29.8000,37.10,2.641471e+09,ABT,25.525606
2002-12-31,37.1000,47.15,33.7500,46.57,2.169666e+09,ABT,0.751557
2003-12-31,46.7000,47.63,38.2600,46.92,2.155078e+09,ABT,-15.963342
2004-12-31,46.8900,50.00,37.5000,39.43,2.230449e+09,ABT,23.535379
2005-12-31,39.5500,49.87,39.1800,48.71,2.594777e+09,ABT,17.491275
2006-12-31,48.8300,59.50,48.7500,57.23,3.301416e+09,ABT,-7.111655
2007-12-31,56.8200,61.09,45.7500,53.16,4.126745e+09,ABT,2.595937
2008-12-31,53.2500,57.39,41.2700,54.54,4.801649e+09,ABT,-12.779611
2009-12-31,54.4700,56.79,45.2600,47.57,4.080456e+09,ABT,18.204751
2010-12-31,47.4400,56.44,45.0700,56.23,4.480763e+09,ABT,14.565179
2011-12-31,56.5800,72.47,53.9600,64.42,3.604048e+09,ABT,-40.375660
2012-12-31,64.1300,65.53,31.6400,38.41,2.046995e+09,ABT,18.953398
2013-12-31,38.3800,46.50,35.6500,45.69,1.494521e+09,ABT,-0.919238
2014-12-31,45.7000,51.74,39.0000,45.27,1.467951e+09,ABT,-15.153523
2015-12-31,45.1100,45.79,36.0000,38.41,2.289874e+09,ABT,48.581099
2016-12-31,38.6334,57.77,38.3400,57.07,1.645674e+09,ABT,24.566322
2017-12-31,58.2000,74.92,55.5800,71.09,1.558892e+09,ABT,22.098748
2018-12-31,71.5700,89.24,65.5000,86.80,1.310354e+09,ABT,24.930876
2019-12-31,86.5000,115.14,61.6100,108.44,1.694420e+09,ABT,11.112136
2020-12-31,108.1700,128.54,107.2551,120.49,2.918554e+08,ABT,NaN

In [ ]:
index = pd.date_range('1/1/2000', periods=9, freq='T')
series = pd.Series(range(9), index=index)
series

2000-01-01 00:00:00    0
2000-01-01 00:01:00    1
2000-01-01 00:02:00    2
2000-01-01 00:03:00    3
2000-01-01 00:04:00    4
2000-01-01 00:05:00    5
2000-01-01 00:06:00    6
2000-01-01 00:07:00    7
2000-01-01 00:08:00    8
Freq: T, dtype: int64

In [ ]:
series.resample('3T').sum()

2000-01-01 00:00:00     3
2000-01-01 00:03:00    12
2000-01-01 00:06:00    21
Freq: 3T, dtype: int64

In [ ]:
series.resample('3T', label='right').sum()

2000-01-01 00:03:00     3
2000-01-01 00:06:00    12
2000-01-01 00:09:00    21
Freq: 3T, dtype: int64

In [ ]:
series.resample('3T', label='right', closed='right').sum()

2000-01-01 00:00:00     0
2000-01-01 00:03:00     6
2000-01-01 00:06:00    15
2000-01-01 00:09:00    15
Freq: 3T, dtype: int64

In [ ]:
series.resample('3T', label='right', closed='left').sum()

2000-01-01 00:03:00     3
2000-01-01 00:06:00    12
2000-01-01 00:09:00    21
Freq: 3T, dtype: int64

# CIK

In [9]:
import requests
import bs4 as bs

resp = requests.get('http://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
soup = bs.BeautifulSoup(resp.text, 'lxml')
table = soup.find('table', {'class': 'wikitable sortable'})

tickers = []
industries = []
sectors = []

for row in table.findAll('tr')[1:]:
        ticker = row.findAll('td')[0].text
        industry = row.findAll('td')[7].text
        sector = row.findAll('td')[3].text

        tickers.append(ticker)
        industries.append(industry)
        sectors.append(sector)

tickers    = list(map(lambda s: s.strip(), tickers))
industries = list(map(lambda s: s.strip(), industries))
sectors     = list(map(lambda s: s.strip(), sectors))

tickerdf = pd.DataFrame(tickers,columns=['ticker'])
sectordf = pd.DataFrame(industries,columns=['SEC'])
sector2df = pd.DataFrame(sectors,columns=['industry'])

tickerandsector = pd.concat([tickerdf, sectordf, sector2df], axis=1)

cik_lookup = dict(tickerandsector[['ticker', 'SEC']].values)